<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Editar check out</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    </head>
    <body>
        <form th:action="@{'/checkouts/'+${id}+'/edit/save'}" th:object="${checkOut}" method="post">
            <div th:replace="~{fragments/checkOutForm :: checkOutForm(titulo='Editar check out', checkOut=${checkOut}, reservas=${reservas})}">
                

            </div>
        </form>

    </body>
</html>
